img{
  border-radius: 28px;
  width: 100%;
}

#page {box-sizing: border-box;
  width: 800px;
  padding: 24px;
  background-color: #ffffff;
  border-radius: 24px;
  margin: 48px auto 28px;
}

body{
  background-image: url(assets/boislz.jpg);
  background-size: cover;
}

#description{
  text-align: center;
}

#subtitle{
  color: red;
}

footer{
  text-align: center;
  color: #ffffff;
}