*{
  background-color: #f5f4f0;
}

img{
  border-radius: 28px;
  width: auto;
  ;
}

:root{
  font-family:"Open Sans", serif;
}

#page {
  box-sizing: border-box;
  width: min(1120px, 100%);
  padding: 24px;
  border-radius: 24px;
  margin: 0 auto;
  border-color: #D9D9D9;
  background-position: center;
  font-weight: bold;
}

#page img{ 
  width: 100%;
  height: auto;
  display: block;
}

#about{
  padding: 0px 0px 03px 0px;
}

#about img{
  padding: 0px 0px 24px 0px ;
}

#introduction{
  padding: 25px 0px 25px 0px;
}

#description{
  text-align: center;
}

#headline{
  font-size: 16px;
  color: #E1624F;
}
#subtitle{
  font-size: 16px;
  font-style: italic;
  color: #333333;
  text-align: center;
}
.divider{
  width: 100%;
  height: 1px;
  margin: 36px 0;
  background-color: #d9d9d9;
  padding: 0px;
}

footer{
  text-align: center;
  color: #333333;
;
}

.paragraph{
  font-size: 16px;
  font-weight:normal;
  color:#333333;
  text-align: left;
}

.one{
  color: #0c51a7;
}

.two{
  color: #e95e10;
}

.three{
  color: #e5245e;
}

h1{
  font-size: 36px;
  color:#1b1b1b;
}

h2{
  font-size: 32px;
}

p{
  font-size: 28px;
}
 